@using EventSystem.Web.Infrastructure.Constants
@model IEnumerable<EventSystem.Web.Models.Places.PlaceViewModel>
@{
    Layout = "~/Areas/EventMaker/Views/Shared/_GridLayout.cshtml";
    ViewBag.Title = "All Places";
}


@foreach (var place in Model)
{
    <tr class="tbl-item">
        <!--<img/>-->
        <td class="img"><img src="~/Content/KAdminTheme/images/thumbs/arch-1.jpg" /></td>
        <!--<data></data>-->
        <td class="td-block">
            <p class="date">@place.Street</p>
            <p class="title">@Html.ActionLink(@place.Name, Views.Edit, new { id = place.Id })</p>
            @*<p class="desc">@place.Description</p>*@
            <p class="desc">
                A calendar is a system of organizing days for social, religious, commercial, or administrative purposes. This is done by giving names to periods of time, typically days, weeks, months, and years. The name given to each day is known as a date. Periods in a calendar (such as years and months) are usually, though not necessarily,
                synchronized with the cycle of the sun or the moon.
            </p>
            <p class="like">5 Likes</p>
        </td>
    </tr>
}
gi
@section gridFooter{
    @Html.ActionLink("Create new place", Views.Create, null, new { @class = "btn btn-green pull-right" })
}
