@model  EventSystem.Web.Models.Places.PostPlaceViewModel
@{
    ViewBag.Title = "Create New Place";
}

@using (Html.BeginForm("Create", "Places"))
{
    <div class="row form-group">
        <div class="col-md-2">
            @Html.LabelFor(x => x.CountryId)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(m => m.CountryId, ViewBag.Countries as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-2">
            @Html.LabelFor(x => x.CityId)
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(m => m.CityId, ViewBag.Cities as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>
    @Html.EditorFor(m => m.CityId)
    @Html.EditorFor(m => m.Venue)
    <div class="row form-group">
        <div class="col-md-8">
            <input type="submit" class="btn btn-primary pull-right" value="Create" />
        </div>
    </div>
}

