@model EventSystem.Web.Models.Home.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<section id="home">
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.TopEvents.Count; i++)
            {
                var className = i == 0 ? "class=\"active\"" : string.Empty;

                <li data-target="#main-slider" data-slide-to="@i" @className></li>
            }
        </ol>

        <div class="carousel-inner">
            @{var count = 0;
                foreach (var item in Model.TopEvents)
                {
                    var className = count == 0 ? "item active" : "item";
                    count++;

                    <div class="@className">
                        <img class="img-responsive" src="@item.Images.FirstOrDefault().Path" alt="slider">
                        <div class="carousel-caption">
                            <h2>@Html.ActionLink(item.Title, "Details", "Event", new { id = item.Id }, null)</h2>
                            <h4>Start: @item.EventStart.ToString("HH:mm MMM dd yyyy")</h4>
                            <h4>@item.Place.Name, @item.Place.City.Name </h4>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!--/#home-->

<section id="twitter">
    <div id="twitter-feed" class="carousel slide" data-interval="false">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Top Events</h2>
              @foreach (var item in Model.TopEvents)
              {
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-responsive" src="@item.Images.FirstOrDefault().ThumbnailPath" alt="event image">
                    </div>



                    <div class="col-md-8 col-md-offset-1">
                        <h2 class="text-center">@(Html.ActionLink<EventController>(item.Title, c => c.Details(item.Id), new { id = item.Id }))</h2>
                        <p>Starts: @item.EventStart.ToString("HH:mm MMM dd yyyy")</p>
                        <p>Place: @item.Place.Name</p>
                        <p>City: @item.Place.City.Name</p>
                        <p>
                            @item.Description
                        </p>
                    </div>
                </div>
                <hr/>
              }

            </div>
        </div>
    </div>
</section>
<!--/#twitter-feed-->

<section id="contact">
    <div class="contact-section">
        
        <div class="container">
            <h2 class="text-center">New Events</h2>
            @foreach (var item in Model.TopEvents)
            {
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-responsive" src="@item.Images.FirstOrDefault().ThumbnailPath" alt="event image">
                    </div>



                    <div class="col-md-8 col-md-offset-1">
                        <h2 class="text-center">@(Html.ActionLink<EventController>(item.Title, c => c.Details(item.Id), new { id = item.Id }))</h2>
                        <p>Starts: @item.EventStart.ToString("HH:mm MMM dd yyyy")</p>
                        <p>Place: @item.Place.Name</p>
                        <p>City: @item.Place.City.Name</p>
                        <p>
                            @item.Description
                        </p>
                    </div>
                </div>
                <hr />
            }
        </div>
    </div>
</section>
<!--/#contact-->

@section scripts{
    <script src="~/Scripts/Home/index.js"></script>
}