@model EventSystem.Web.Models.Events.EventDetailsViewModel
@{
    ViewBag.Title = "Index";
}

<section id="home">
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Images.Count; i++)
            {
                var className = i == 0 ? "class=\"active\"" : string.Empty;

                <li data-target="#main-slider" data-slide-to="@i" @className></li>
            }
        </ol>

        <div class="carousel-inner">
            @{var count = 0;
                foreach (var item in Model.Images)
                {
                    var className = count == 0 ? "item active" : "item";
                    count++;

                    <div class="@className">
                        <img class="img-responsive" src="@item.Path" alt="slider">
                       
                    </div>
                }
            }
        </div>
        <div class="carousel-caption">
            <h2>@Model.Title</h2>
            <h4>Start: @Model.EventStart.ToString("HH:mm MMM dd yyyy")</h4>
            <h4>@Model.Place.Name, @Model.Place.City.Name </h4>
        </div>
    </div>
</section>
<!--/#home-->

<div id="event-detatils">
    <section id="explore">
        <div class="container">
            <div class="row">
                <div class="watch">
                    <img class="img-responsive" src="~/Content/Theme/images/watch.png" alt="">
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-5">
                    <h2>Place : @Model.Place.Name</h2>
                    <h2>Date: @Model.EventStart.ToString("HH:mm MMM dd yyyy")</h2>
            </div>
            <div class="col-sm-7 col-md-6">
                <ul id="countdown" data-time="@Model.EventStart">
                    <li>
                        <span class="days time-font">00</span>
                        <p>days </p>
                    </li>
                    <li>
                        <span class="hours time-font">00</span>
                        <p class="">hours </p>
                    </li>
                    <li>
                        <span class="minutes time-font">00</span>
                        <p class="">minutes</p>
                    </li>
                    <li>
                        <span class="seconds time-font">00</span>
                        <p class="">seconds</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cart">
            <a href="/Order/Cart"><i class="fa fa-shopping-cart"></i>  <span> Tickets</span></a>
        </div>
    </div>
</section><!--/#explore-->
<section id="event">
    <div class="container">
        <div class="row">
           
            <div class="col-sm-12 col-md-9">
                <div class="=row">
                    <h2 class="text-center">Description</h2>
                  <p>@Model.Description</p>
                </div>

                <div id="event-carousel" class="carousel slide" data-interval="false">
                    <h2 class="text-center">Place</h2>
                    @foreach (var image in Model.Place.Images)
                    {
                        <div class="col-sm-4">
                            <div class="single-event">
                                <img class="img-responsive" src="@image.ThumbnailPath" alt="event-image">
                            </div>
                        </div>
                    }
                    <div class="row">
                        <p>Place: @Model.Place.Name</p>
                        <p>Address: @Model.Place.City.Name, @Model.Place.Street</p>
                    @*    <p>@Model.Place.Country.Name</p>*@
                        <h2> @Model.Place.Description</h2>
                    </div>
                </div>
            </div>

            <div class="guitar">
                <img class="img-responsive" src="~/Content/Theme/images/guitar.png" alt="guitar">
            </div>
        </div>
       
    </div>
</section><!--/#event-->
<section id="about">
    <div class="guitar2">
        <img class="img-responsive" src="~/Content/Theme/images/guitar2.jpg" alt="guitar">
    </div>
    <div class="about-content">
        <h2 class="text-center">Comments</h2>
        @{ var counter = 0;
            foreach (var comment in Model.Comments)
            {
                var className = counter % 2 == 0 ? "" : "blockquote-reverse";
                counter++;

            <blockquote class="@className">
                <p>@comment.Content</p>
                <small>@comment.UserName <cite title="Source Title">@comment.CreatedOn.ToString("HH:mm MMM dd yyyy")</cite></small>
            </blockquote>
            }
        }
      @Html.Partial(Partials._PosrComment)
    </div>
</section><!--/#about-->

<section id="twitter">
    <div id="twitter-feed" class="carousel slide" data-interval="false">
        <div class="twit">
            <img class="img-responsive" src="~/Content/Theme/images/twit.png" alt="twit">
        </div>
        <div class="col-md-7 col-md-offset-4">
            <table id="ticket-purchase" class="table table-striped table-hover ">
                <thead>
                    <tr>

                        <th>Ticket</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Order</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tickets)
                    {
                        <tr class="active">
                            <td>Regular</td>
                            <td>@item.Price</td>
                            <td>
                                <select data-id="@item.Id">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </td>
                            <td><button data-id="@item.Id" class="btn  btn-sm">Purchase</button></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</section><!--/#twitter-feed-->

<section id="contact">
    <div id="map" data-lat="@Model.Place.Latitude" , data-long="@Model.Place.Longitude">
        <div id="gmap-wrap">
            <div id="gmap">
            </div>
        </div>
    </div><!--/#map-->
    <div class="contact-section">
        <div class="ear-piece">
            <img class="img-responsive" src="~/Content/Theme/images/ear-piece.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-4">
                    <div class="contact-text">
                        <h3>Contact</h3>
                        <address>
                            E-mail: promo@party.com<br>
                            Phone: +1 (123) 456 7890<br>
                            Fax: +1 (123) 456 7891
                        </address>
                    </div>
                    <div class="contact-address">
                        <h3>Contact</h3>
                        <address>
                            Unit C2, St.Vincent's Trading Est.,<br>
                            Feeder Road,<br>
                            Bristol, BS2 0UY<br>
                            United Kingdom
                        </address>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div id="contact-section">
                        <h3>Send a message</h3>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" required="required" placeholder="Email ID">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="4" placeholder="Enter your message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary pull-right">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#contact-->
</div>

@section scripts {
    <script src="~/Scripts/Events/EventsDetails.js"></script>
    <script>
        var $ticketPurchase = $('#ticket-purchase');
        $ticketPurchase.on('click', 'button', function () {
            var $this = $(this);
            var id = $this.attr('data-id');
            var quantity = $ticketPurchase.find('select[data-id=' + id + ']').val();
            $.post('/order/addToShoppingCart', { id: id, quantity: quantity }, function (data) {
                var badgeContainer = $('[data-id="\shopping-cart\"]')
                $('span[data-id="\shopping-cart-badge\"]').remove()
                var badge = $('<span />')
                    .attr('class', 'badge badge-red')
                    .attr('data-id', 'shopping-cart-badge')
                    .text(data.ItemsCount)

                badgeContainer.append(badge);
            })
        })
    </script>
}